{% extends 'base.html' %}
{% load static %}
{% block title %} Home || {{ block.super }} {% endblock title %}


{% block content %}

    <!-- Background --->
    <div id="topHeader">
        <div class="jumbotron jumbotron-fluid mb-3">
            <div class="container">
                <h1 class="text-center">Photography</h1>
            </div>
        </div>
    </div>

    <!--- Massage Framework --->
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center">
                <span>{{ message }}</span>
            </div>
        </div>
    {% endfor %}
    <!---- End Message --->

    <!--- Social Media --->
    {% include 'base/social.html' %}

    <!-- Search Form --->
    <div id="searchForm">
        <div class="container">
            <div class="search mb-3">
                <form action="" method="GET" class="search">
                    <div class="input-group">
                        <input class="form-control" name="q" type="text" placeholder="Enter Search Keyword"  value="{{ request.GET.q }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- main Content --->
    <div id="mainSection">
        <div class="container">
            <div class="mainCart">
                <div class="row">
                    {% for p in photo_queryset %}
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                            <div class="card shadow-lg">
                                {% if p.image %}
                                    <a href="{% url 'details' p.id %}">
                                        <img class="card-img-top img-fluid" src="{{ p.image.url }}" alt="Oops image not found" style="width: 100%; height: 250px">
                                    </a>
                                {% else %}
                                     <img class="card-img-top img-fluid" src="{% static 'img/single_place_1.png' %}" alt="Oops image not found" style="width: 100%; height: 250px">
                                {% endif %}
                                <div class="card-body" style="height: 120px">
                                    <h5 class="text-justify text-center"><a href="{% url 'details' p.id %}">{{ p.title|truncatechars:50 }}</a></h5>
                                    <p class="text-justify text-center">{{ p.timestamp }}</p>
                                </div>
                            </div>
                            <!-- Only Admin Can show this -->
                            {% if request.user.is_superuser %}
                                <div class="text-center">
                                    <a href="{% url 'update' p.id %}">Edit</a>
                                    <span class="mx-1">||</span>
                                    <a href="{% url 'delete' p.id %}">Delete</a>
                                </div>
                            {% endif %}
                            <!--End-->
                        </div>
                    {% empty %}
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                            <p>No search results for this query</p>
                            <div style="margin-bottom: 190px"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}