{% extends 'base.html' %}
{% load static %}
{% block title %} About || {{ block.super }} {% endblock title %}

{% block content %}

    <div class="container">
        <h3 class="text-center my-4">About Me</h3>
        <div class="row">
            {% for about in queryset %}
                <div class="col-md-8 mx-auto">
                    <p class="text-justify">{{ about.aboutMe }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div style="margin-bottom: 145px"></div>
{% endblock content %}
